<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <threshold>
            <general>
                <threshold_value>500</threshold_value>
            </general>
        </threshold>
    </default>
</config>
